body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: #fff;
}

html {
    scroll-behavior: smooth;
  }
  


main {
    background-color: #181818;
}

.footer {
    background-color: #181818;
}


.none {
	display: none !important;
}

.container {
    max-width: 1097px;
    margin: 0 auto;
    /* background-color: aqua; */
}


/* header */

.header {
    background-color: #181818;
}
.header__top {
    padding:   33px 40px;
    margin-bottom: 35px;
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 41px;
}

.nav__logo:hover {
    transform: scale(1.1);
}


.nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 41px;

}
.nav__list a {
    color: #fff;
    font-weight: 500;
}

.nav__list li a {
    
    position: relative; 
}

.nav__list li a::after {
    content: '';
    position: absolute;
    bottom: -7px; /* Отступ от линии до ссылки */
    left: 0;
    width: 100%;
    height: 2px; 
    background-color: #726f6f; 
    opacity: 0;
    transition: opacity 0.3s ease; 
}

.nav__list li a:hover::after,
.nav__list li a.active::after {
    opacity: 1;
}



.nav__login a {
    color: #fff;
}

.nav__right {
    display: flex;
    align-items: center;
    column-gap: 16px; /*  отступ между кнопками Login и Burger */
}



.btn_login {
    padding: 14px 46px;
    border: #fff 1px solid;
    transition: box-shadow 0.3s ease; /* плавная анимация */
    border-radius: 5px;

}

.btn_login:hover {
    box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.5); /*  свечение */
}

.nav-button {
    display: none;
}


/* header content */



.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.header__badge {

    max-width: 729px;
font-size: 4rem;
font-weight: 500;
line-height: 1.1;
text-align: center;

margin-bottom: 4rem;


}
.header__text {
font-size: 1.25rem;
font-weight: 400;
line-height: 1.5;;
text-wrap: balance;

text-align: center;

max-width: 602px;

margin-bottom: 5rem;

}
.btns {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 35px;

    margin-bottom: 35px;
    

}
.btn_try {
color: #fff;
font-size: 17px;
font-weight: 500;

background-color: #4452FE;
padding: 10px 30px;
border-radius: 5px;

}

.btn_try:hover {
    background-color: #3d98d8;
    
}
.btn_learn_more {

font-size: 17px;
font-weight: 500;

color: #fff;
background-color: #181818;
padding: 10px 30px;

border: #fff 1px solid;

border-radius: 5px;

}

.btn_learn_more:hover {
    background-color: #2b2a2a;
}

.main_img {
    width: 100%; /* Занимает всю ширину экрана */
    display: block; /* Занимает все доступное пространство */
    margin: 0 auto; 

    padding-bottom: 100px;
}

.main_img img {
    width: 100%; /* Изменяет размер изображения, чтобы оно занимало всю ширину родительского контейнера */
    height: auto; /* Сохраняет пропорции изображения */
    pointer-events: none;
}

/* СЕКЦИЯ ОСОБЕННОСТИ */

.featurs {
    background-color: #181818;
    padding-bottom: 100px;
}


.featurs-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.featurs-heading {
text-transform: uppercase;
letter-spacing: 7px;
font-size: 52px;
font-weight: 400;
text-align: center; 

margin-bottom: 27px;


}

.the_second_text {
    margin-bottom: 80px;
    max-width: 602px;
    text-wrap: balance;
    text-align: center; 

font-size: 20px;
font-weight: 400;
line-height: 30px;


}

.content_featurs {
    display: flex;
    max-width: 100%;
}
.img_featurs {
    position: relative;
    pointer-events: none;
}
.img_featurs img {
  max-width: 100%; /* Занимает 100% ширины родительского элемента */
  max-height: 100%; /* Занимает 100% высоты родительского элемента */
  
}


.text_featurs {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    column-gap: 25px;

}



.card {
    max-width: 269px;

}
.card_head {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 20px;
    

}
.card_head img {
    margin-right: 19px;
    
}
.card_head h3 {

font-size: 20px;
font-weight: 500;



}

.card_text {

font-size: 16px;
font-weight: 400;
line-height: 24px;

}

.img_featurs::after {
    content: '';
	position: absolute;
	left: 370px;
	bottom: -70px;
	width: 50%;
	height: 35%;

	background-image: url(./img/main-img/LineChart.svg);
	background-size: 100%;
    
}


/* contens section */

.contents {
    background-color: #181818;
}


.contents_row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}



.content-text h1 {
text-align: center;
font-size: 52px;
font-weight: 400;

margin-bottom: 20px;
padding-top: 10px;

letter-spacing: 7px;

}

.content-text p {

font-size: 18px;
font-weight: 400;
line-height: 30px;
max-width: 571px;
text-align: center;
margin-bottom: 44px;

}

.contens-foto {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    column-gap: 25px;
    

    /* padding: 20px; */

}
.card-foto {
    
    max-width: 476px;
    min-height: 620px;
    background-color: #FFFFFF;
    color: #000000;
    border-radius: 10px;
    padding: 40px 35px;
}

.heading_contents_text {
margin-bottom: 20px;
font-size: 20px;
font-weight: 500;
text-align: center;


}
.heading_paragraph1 {
/* max-width: 288px; */
margin: 0 auto; /* Центрирование по горизонтали */
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.20000000298023224px;
text-align: center;

margin-bottom: 68px;

}
.heading_paragraph2 {
    /* max-width: 288px; */
    margin: 0 auto; 
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    
    margin-bottom: 68px;
    
    }

.card-foto a {
    display: block; /* Делает ссылку блочным элементом для центрирования */
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    background-color: #4452FE;
    padding: 10px 30px;
    border-radius: 5px;
    text-align: center; /* Центрирует текст внутри ссылки */
}

.card-foto a:hover {
    opacity: 0.8;
}

.button-container1 {
    display: flex; 
    justify-content: center; 
    margin-bottom: 67px; 
}
.button-container2 {
    display: flex; 
    justify-content: center; 
    margin-bottom: 30px; 
}


/* section gallery */



.gallery-row {
    padding-top: 50px;

}

.heading_gallery {

font-size: 52px;
font-weight: 400;
text-align: center;
margin-bottom: 20px;

letter-spacing: 7px;

}

.paragraph_gallery {
max-width: 591px;
margin: 0 auto;
font-size: 19px;
font-weight: 400;
line-height: 30px;

text-align: center;
margin-bottom: 54px;
}

.foto_row1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; 
    column-gap: 33px;
    pointer-events: none;
}

.img_row1 {
    border-radius: 10px;
    margin-bottom: 44px;
    pointer-events: none;
}

.foto_row2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 33px;
    flex-wrap: wrap; 

    margin-bottom: 44px; 

    pointer-events: none;
}

.img_row2 {
    border-radius: 10px;
    pointer-events: none;
    pointer-events: none;
}

.button_see_more {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
    
     
}



.button_see_more a {
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    padding: 10px;
    border: 1px solid #fff;
    text-align: center;
    border-radius: 5px;
}
.button_see_more a:hover {
    opacity: 0.8;
    background-color: #333333;
    cursor: pointer;
}

/* CЕКЦИЯ ПАРТНЕРЫ */

.partners-row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.partners_heading {
font-size: 52px;
font-weight: 400;
margin-top: 60px;
margin-bottom: 15px;

letter-spacing: 7px;

}

.partners_paragraph {

max-width: 591px;
font-size: 20px;
font-weight: 400;
line-height: 30px;
margin-bottom: 50px;
text-align: center;
font-size: 19px;

}

.partners-wrapper {
    max-width: 832px;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 74px;
    margin-bottom: 50px;

}
.partners-wrapper img {
    max-width: 16.66%; 
    height: auto; 
    margin-bottom: 20px; 
}
.partners_btn {
    display: inline-block;
    padding: 14px 40px;
    border: 1px solid #fff;
    margin-bottom: 50px;
    border-radius: 5px;
}
.partners_btn a {
    color: #fff;
}
.partners_btn:hover {
    opacity: 0.8;
    background-color: #333333;
    cursor: pointer;
    /* transform: scale(1.1); */
}

/* СЕКЦИЯ РЕКОМЕНДАЦИИ */

.testimonials-row {
    padding-bottom: 50px;

}
.feedback_rows {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 23px;
    /* margin-bottom: 20px; */
}

.feedback {
    max-width: 430px;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 40px 70px 40px 40px;
    margin-bottom: 20px;

}

.heading_feedback {
font-size: 52px;
font-weight: 400;
line-height: 62px;
text-align: left;

margin-bottom: 60px;
padding-top: 60px;
text-align: center;

letter-spacing: 7px;

}

.feedback_name {
    margin-bottom: 30px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 13px;

}

.feedback_reviews {
    max-width: 320px;
font-size: 16px;
font-weight: 400;
line-height: 24px;
padding-bottom: 40px;
}

/* СЕКЦИЯ OpenType */

.open_type {
    padding-bottom:  50px;

}

.open_type_rows {
    padding: 78px 30px 78px 30px;

    background-color: #343434;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    

}
.open_text {
    max-width: 480px;
    margin-right: 20px;
    /* padding: 78px 0px 78px 94px; */

    display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 

}
.open_text h3 {

font-size: 50px;
font-weight: 400;
line-height: 62px;

text-align: left;

margin-bottom: 37px;

}
.open_btn {
    display: inline-block;
    border-radius: 5px;
    padding: 14px 67px;
    background-color: #4452FE;
    text-align: center;
    

}
.open_btn:hover {
    background-color: #3d98d8;
    cursor: pointer;
}
.open_btn a {
    color: #fff;
}
.open_img {
    width: 100%;
    max-height: 454px;
    
}
.open_img img {
    width: 100%; 
    height: auto; 
    object-fit: cover;

    border-radius: 15px;
  }
  
/*   FOOTER */

.footer {
    padding: 5% 10%; 
    
}

.footer_wrapper {
    display: flex; 
  justify-content: space-between;
   
}
.fingertipe, .resources, .about {
    margin-right: 20px; /* Отступ между первыми тремя блоками */
}

.social_network {
    margin-left: 199px; /* Отступ между предпоследним и последним блоками */
}

.fingertipe {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;

}

.resources {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}

.about {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}



.fingertipe a,
.resources a,
.about a {
  color: #fff;
}

.fingertipe h3,
.resources h3,
.about h3 {
    font-size: 20px;
    font-weight: 500;

}

.fingertipe a:hover,
.resources a:hover,
.about a:hover {
  opacity: 0.8; 
  transform: scale(1.10);
  color: #3d98d8;
}

.social_network {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}
.address {
    display: flex;
    align-items: center;
    justify-self: center;
    gap: 10px;
}
.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.address p {

font-size: 16px;
font-weight: 500;


}

.telephone {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}

.telephone p {

font-size: 16px;
font-weight: 500;
}

.icons-click:hover {
    transform: scale(1.1);

}
/* насчет телеграмма своего */
.telegramm_icons {
    max-width: 35px; 
    max-height: 30px; 
   }
   

   .telegram_link {
    color: #fff;
   }  
   /* .telegram_link:hover {
    color: #707bf4;
   }   */
.telegramm_btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}
.telegramm_btn:hover {
    transform: scale(1.1);
    
   }
   /* АНИМАЦИЯ */
   .telegramm_btn:hover .telegram_link p {
    text-shadow: 0 0 10px rgb(220, 220, 176); /* Добавляем свечение */
    transition: text-shadow 0.3s ease-in-out;
   }
   
   
   
   
   
   
   